<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/coursesCSS.css}" />
    <title>Courses</title>
</head>
<body>
	<!-- HEADER -->
    <div th:include="public/fragments/header"></div>
	<!-- NAVBAR -->
    <div th:include="public/fragments/navbar"></div>
    <!-- CONTENT -->
    <div class="container">
        <h1>Available Courses</h1>
        <p>This page lists the available courses on our platform.</p>
    </div>
	    <div class="content-course">
			<!-- list -->
	        <div th:each="course : ${courses}" class="course">
	            <h2 th:text="${course.name}"></h2>
	            <div class="course-description">
	                <p th:text="${course.description}"></p>
	            </div>
	            <div class="course-details">
	                <p>Total Hours: <span class="highlighted1" th:text="${course.attendHrsMax}"></span></p>
	                <p>Minimum Attendance Hours: <span class="highlighted2" th:text="${course.attendHrsMin}"></span></p>
	            </div>
	        </div>
		</div>
    </div>
    <!-- FOOTER -->
    <div th:include="public/fragments/footer"></div>
</body>
</html>
