<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/webmanagerCSS.css}"/>
    <title>Management System</title>
</head>
<body>
    <!-- HEADER -->
    <div th:include="public/fragments/header"></div>
    <!-- NAVBAR -->
    <div th:include="public/fragments/navbarAdmin"></div>
	<!-- CONTENT -->
    <div class="content">
		<!-- Div 1 -->
		<div class="dashboard-container">
	        <h1>Website Health Metrics</h1>
	        <div class="metric-card">
	            <h2>Server Status</h2>
	            <p>Status: <span id="serverStatus" class="online">online</span></p>
	        </div>
	        <div class="metric-card">
	            <h2>Active Users</h2>
	            <p>Currently connected users: <span id="activeUsers">...</span></p>
	        </div>
	    </div>	
	    <!-- Div 2 -->
	    <div class="dashboard-container">
	        <h1>User Engagement Metrics</h1>
	        <div class="metric-card">
	            <h2>Registrations</h2>
	            <p>New users today: <span id="newRegistrations">...</span></p>
	            <p>New users last month: <span id="newRegistrations">...</span></p>
	            <p>New users last year: <span id="newRegistrations">...</span></p>
	        </div>
	        <div class="metric-card">
	            <h2>Popular Pages</h2>
	            <ul id="popularPages">
	            </ul>
	        </div>
	    </div>
	    <!-- Div 3 -->
	    <div class="dashboard-container">
	        <h1>System Performance Metrics</h1>
	        <div class="metric-card">
	            <h2>CPU Usage</h2>
	            <p>Current CPU usage: <span id="cpuUsage">...</span> MB</p>
	         </div>
	        <div class="metric-card">
		        <h2>Memory Usage</h2>
		        <p>Current memory usage: <span id="memoryUsage">...</span> MB</p>
	        </div>
	        <div class="metric-card">
	            <h2>Server Load</h2>
	            <p>Current server load: <span id="serverLoad">...</span></p>
	        </div>
	    </div>
	<!-- FOOTER -->
    <div th:include="public/fragments/footer"></div>
</body>
</html>





















