<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/indexCSS.css}"/>
    <title>Navbar</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="/public/home" style="color: #191970; margin: 0 1em;">Home</a>
            <a href="/public/campus" style="color: #191970; margin: 0 1em;">Campus</a>
            <a href="/public/courses" style="color: #191970; margin: 0 1em;">Courses</a>
            <a href="/public/news" style="color: #191970; margin: 0 1em;">News</a>
            <a href="/public/about" style="color: #191970; margin: 0 1em;">About</a>
        </nav>
    </div>
</body>
</html>
